@import "tailwindcss";

@theme {
	--color-*: initial;
	--color-background: #fafafa;
	--color-foreground: #1a1a1a;
	--color-primary: #bc9e27;
	--color-gray-100: #f0f0f0;
	--color-gray-200: #e0e0e0;
	--color-gray-300: #c0c0c0;
	--color-gray-400: #909090;
	--color-gray-500: #606060;
	--color-gray-600: #404040;
	--color-gray-700: #2a2a2a;

	--text-*: initial;
	--text-xs: 0.75rem;
	--text-sm: 0.875rem;
	--text-base: 1rem;
	--text-lg: 1.125rem;
	--text-xl: 1.25rem;
	--text-2xl: 1.5rem;
	--text-3xl: 1.75rem;
	--text-4xl: 2rem;
	--text-5xl: 2.5rem;
	--text-6xl: 3rem;
	--text-7xl: 4rem;
	--text-8xl: 5rem;
	--text-9xl: 6rem;

	--leading-normal: 1.4;
}

@theme inline {
	--font-heading: var(--font-fraunces);
	--font-body: var(--font-lato);
}

/* utility classes for ease of use */

.my-container {
	@apply px-8
}

.hero-heading {
	@apply text-7xl leading-none tracking-tight 
}
.section-heading {
	@apply text-5xl leading-none tracking-tight 
}
.paragraph-text {
	@apply font-body text-2xl leading-normal
}
.button-text {
	@apply font-body text-base font-bold leading-normal
}